<h2 id="title">Welcome to Ember</h2>

<nav>
  {{#link-to 'index'}}
    Home
  {{/link-to}}

  {{session.token}}
  {{#if session.isAuthenticated}}
    <button {{action 'logout'}}>Logout</button>
  {{else}}
    {{#link-to 'login'}}
      Login
    {{/link-to}}
  {{/if}}
</nav>

<hr />
<div class="container-fluid">
  {{outlet}}
</div>